@model FilmZone.Domain.ViewModels.FilmViewModel
@if(Model != null)
{
<div class="Content ContentFilm">
    <h1>@Model.Name</h1>
    <iframe width="560" height="315" src=@Model.Preview title="@Model.Name" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="InfoAboutFilm">
    <span class="Label">Рейтинг: </span><span class="Value">8.1</span>
    <span class="Label">Год: </span><span class="Value">@Model.ReleaseFilmDate</span>
    <span class="Label">Режиссер: </span><span class="Value">@Model.Director</span>
    <span class="Id">Id: </span><span class="Value">@Model.Id</span>
</div>
<hr>
<h2>Описание фильма</h2>
<div class="DescriptionFilm">
    <img src="img/inter.png" alt="">
    <p>@Model.Description</p>
    <ul>
    @for (int i = 0; i < Model.Links.Count; i++)
    {
        <li>
            <a href="@Model.Links[i]">@Model.Links[i].Split("/")[2]</a>
            <br/>@Model.Price[i]
            <br/>@Model.Advertisement[i]
        </li>
    }
    </ul>
</div>
<hr>
<h2>Отзывы о фильме</h2>
<div class="Reviews">
    <div class="ReviewName">
        Сергей
    </div>
    <div class="ReviewText">
        <p>Лучший фильм в моей жизни! Только я ниче не понял</p>
    </div>
</div>
<div class="Reviews">
    <div class="ReviewName">
        Маша
    </div>
    <div class="ReviewText">
        <p>Отличный фильм! 3 часа пролетели незаметно</p>
    </div>
</div>
<div class="Send">

    <form method="post" action="" id="Review"></form>
    <input type="text" name="ReviewName" placeholder="Ваше имя">
    <textarea name="ReviewText"></textarea>
    <input type="submit" placeholder="Отправить">

    </div>
}
else
{
    <div class="Content">
    <h1>@ViewData["Message"]</h1>
    </div>
}